@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}
.container {
    width: 80%;
    height: 800px;
    margin: auto;
    background-color: #fafbfe;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.sideBar {
    width: 25%;
    background-color: darkseagreen;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
.content {
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reviews, .ratings, .sentiments {
    width: 30%;
    height: 250px;
    background-color: darkseagreen;
    padding: 2%;
    border-radius: 10px;
}
.reviews {
    margin-right: 2%;
}
.ratings {
    margin: 0 2% 0 2%;
}
.sentiments {
    margin-left: 2%;
}
.top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.visitors {
    background-color: darkseagreen;
    border-radius: 10px;
    height: 450px;
    padding: 2%;
}

h1 {
    text-align: center;
    color: indianred;
}
.chart {
    width: 100%;
}
.visitors img {
    border-radius: 10px;
}